<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current carers ({{carers.length}})</h4>
  <button type="button" style="margin: 10px 20px;" class="btn" data-toggle="modal" data-target="#addCarerModal">
    <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
  </button>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>Names</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="carers.length === 0">
      <tr>
        <td style="text-align: center;" colspan="5">There are no carers in the system. Add a new carer.</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let carer of carers">
        <td>{{carer.names}}</td>
        <td>{{carer.surname}}</td>
        <td>{{carer.phoneNumber}}</td>
        <td>{{carer.address}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteCarer(carer)"><i class="fa fa-trash"></i> Delete</button>
        </td>
        <!--<td>-->
        <!--<button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="addCarerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Carer</h4>
      </div>
      <div class="modal-body">
        <form class="form-check" name="addCarerForm" novalidate [formGroup]="addCarerForm" (ngSubmit)="addCarer()">
          <div class="form-group">
              <span class="ui-float-label">
                <input class="form-control" id="names" type="text" size="40" formControlName="names" pInputText>
                <label for="names">Names</label>
              </span>
          </div>
          <div class="form-group">
              <span class="ui-float-label">
                <input class="form-control" id="surname" type="text" size="40" formControlName="surname" pInputText>
                <label for="surname">Surname</label>
              </span>
          </div>
          <div class="form-group">
              <span class="ui-float-label">
                <p-inputMask formControlName="phoneNumber" id="phoneNumber" size="40" mask="9999-999999"></p-inputMask>
                <label for="phoneNumber">Phone Number</label>
              </span>
          </div>
          <div class="form-group">
              <span class="ui-float-label">
                <input class="form-control" id="email" type="text" size="40" formControlName="email" pInputText>
                <label for="email">Email</label>
              </span>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <p-selectButton [options]="genders" class="form-control" id="gender" type="text" size="20" formControlName="gender"></p-selectButton>
          </div>
          <div class="form-group">
              <span class="ui-float-label">
                <p-calendar id="dob" size="40" formControlName="dob" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2000"></p-calendar>
                <label for="dob">Date of Birth</label>
              </span>
          </div>
          <div class="form-group">
              <span class="ui-float-label">
                <textarea class="form-control" [rows]="5" id="address" type="text" size="40" formControlName="address" pInputTextarea></textarea>
                <label for="address">Address</label>
              </span>
          </div>
          <div class="form-group">
              <span class="ui-float-label">
                <input class="form-control" id="username" type="text" size="40" formControlName="username" pInputText>
                <label for="username">Username</label>
              </span>
          </div>
          <button pButton class="btn btn-primary" type="submit" label="Add"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
